!!!
%html
  %head
    %title Tracktor
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{href: "/"}
            Dashboard
          %ul.nav
            %li
              = link_to "Issues", "#"
            %li
              = link_to "New issue", new_issue_path
            %li
              %form.navbar-search.pull-left
                %input.search-query.span2{type: 'text', placeholder: "Search issues"}
    .container
      - if flash[:notice]
        %p.text-info=flash[:notice]
      - if flash[:error]
        %p.text-error=flash[:error]
      .row
        - if yield :pagetitle
          %h3.offset3=yield :pagetitle
        #content
          = yield
    = javascript_include_tag "application"
