!!!
%html
  %head
    %title Tracktor
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{href: "/"}
            Issue Tracker
          %ul.nav
            %li
              = link_to "New unassigned issues", issues_path(state: "new_unassigned")
            %li
              = link_to "Open issues", issues_path(state: "opened")
            %li
              = link_to "On hold issues", issues_path(state: "onhold")
            %li
              = link_to "Closed issues", issues_path(state: "closed")
            %li
              = link_to "New issue", new_issue_path
            %li
              = form_tag search_issues_path, method: :get, class: "navbar-search pull-left" do
                = text_field_tag :query, nil, placeholder: "Search issues", class: "search-query span2"
    .container
      - if flash[:notice]
        %p.text-info=flash[:notice]
      - if flash[:error]
        %p.text-error=flash[:error]
      - if yield :pagetitle
        %h3.offset3=yield :pagetitle
      .row
        #content
          = yield
    = javascript_include_tag "application"
